object {
    border: 2px solid grey;
    width: 100%;
}
img {
    max-width: 100%;
}

/* https://css-tricks.com/full-width-containers-limited-width-parents/ */
.full-width {
    width: 96vw;
    position: relative;
    left: 48%;
    right: 48%;
    margin-left: -48vw;
    margin-right: -48vw;
}

.areaofsanity, .areaofsanity div {
    display: inline-flex;
}

.vbox {
    flex-direction: column;
}

.hbox {
    /* redundant, use for clarity if you like */
    flex-direction: row;
    /* What to do with an overfull hbox: another alternative is "visible", but that can overflow borders and the like. */
    overflow-x: scroll; 
}

#namesDiv, #equivsDiv {
    white-space: nowrap;
}

.tokensrow {
    border: 2px solid grey;
    overflow-x: scroll;
    max-width: 90%;
}

.startCell {
    border: 2px solid grey;
    flex-direction: column;
}
.memCell {
    border: 2px solid lightgrey;
    flex-direction: column;
}
.cellIndex {
    margin: 1px; padding: 1px;
    font-size: 50%;
    justify-content: center;
}
.cellRaw {
    margin: 1px; padding: 1px;
    font-family: monospace;
    font-size: 50%;
    justify-content: center;
}
.cellShow {
    margin: 1px; padding: 1px;
    justify-content: center;
}
.cellType {
    font-size: 50%;
    justify-content: center;
}
.cellValue {
    justify-content: center;
    white-space: nowrap;
}

.pointed {
    background-color: red;
}
.pointNext {
    background-color: grey;
}

